/* Global styles */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	background-color: #baffc9;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

a {
	color: #fff;
	text-decoration: none;
}

/* Header styles */

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 50vh;
}

h1 {
	font-size: 6em;
	color: #fff;
	text-align: center;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #aaffff, 0 0 70px #aaffff, 0 0 80px #aaffff, 0 0 100px #aaffff, 0 0 150px #aaffff;
}

/* Main styles */

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 50vh;
}

.image-container {
	padding: 20px;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

/* Footer styles */

footer {
	text-align: center;
	margin-top: auto;
	padding: 20px;
}
